.intro {
	padding-top: 7.8rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 4.2rem;
	height: 85vh;
	position: relative;

	@include respond(phone) {
		&__img {
			display: none;
		}
	}

	&__content {
		// margin-top: -4rem;
		position: relative;
		max-width: 50%;

		@include respond(phone) {
			max-width: 100%;
		}
	}
}
