// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Paytone+One:wght@300;400;500;600;700;800&display=swap");

h1,
h2 {
	font-family: "Paytone One";
	// font-weight: 400;
}

.heading {
	&__1 {
		font-size: 5.8rem;
		line-height: 100%;
		font-weight: 400;

		span {
			color: var(--accent);
		}

		@include respond(phone) {
			font-size: 4.8rem;
		}
	}

	&__2 {
		font-weight: 400;
		font-size: 3.2rem;
		line-height: 110%;
		text-transform: capitalize;

		span {
			color: var(--accent);
		}
		// text-transform: uppercase;
	}

	&__4 {
		font-size: 2.2rem;
		font-weight: 600;
		// font-family: "Cascadia Code";
		letter-spacing: 0.6px;
	}

	&__3 {
		font-size: 2.4rem;
		font-weight: 600;
		letter-spacing: 0.6px;
	}

	&__5 {
		font-size: 1.8rem;
		// color: var(--accent);
		// font-family: "Cascadia Code";
		font-weight: 400;
	}
}

h6 {
	font-size: 1.4rem;
	font-weight: 400;
}

p {
	opacity: 0.5;
}
