@import "abstracts/variables";

@import "resets/typography";
@import "resets/reset";

@import "utils/helper";
@import "utils/media_query";

@import "components/card";

@import "layouts/navbar";
@import "layouts/footer";

.wrapper {
	max-width: $max-width;
	margin: 0 auto;
}

.intro__image-container {
	// background-color: red;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.6rem;

	&__content {
		margin-top: -8rem;
		max-width: 50%;
	}
}
