.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: "Kanit";
	font-weight: 500;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	font-size: 1.5rem;
	// background-color: var(--bg-color);
	background-color: rgba(var(--rgb-bg-color), 0.7);
	backdrop-filter: blur(8px);
	z-index: 99999;

	&__title {
		span {
			color: var(--accent);
		}
	}
	&__nav {
		height: 7.8rem;
		align-items: center;
		display: flex;
		max-width: $max-width;
		margin: 0 auto;
	}

	&__nav-list {
		margin-left: auto;
		display: flex;

		& > * {
			margin-left: 2.8rem;
		}
	}
}
