.navbar {
	font-family: "Kanit";
	font-weight: 500;
	letter-spacing: 0.8px;

	&__title {
		span {
			color: var(--accent);
		}
	}
	&__nav {
		height: 9.2rem;
		align-items: center;
		display: flex;
		max-width: $max-width;
		margin: 0 auto;
	}

	&__nav-list {
		margin-left: auto;
		display: flex;

		& > * {
			margin-left: 2.8rem;
		}
	}
}
