#api,
#api-reverse {
	min-height: 100vh;
	display: flex;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
}

.api {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;

	@include respond(phone) {
		flex-direction: column-reverse;
	}

	&__image {
		width: 100%;
		display: flex;
		justify-content: center;
		// background-color: red;
		transform: rotateZ(-2deg);
		justify-self: end;

		@include respond(phone) {
			margin-left: 7rem;
		}

		svg {
			border-radius: 1rem;
			// width: 100%;
		}

		position: relative;

		@include respond(phone) {
		}
	}
	&__content {
		// min-width: 38%;
		max-width: 38%;

		@include respond(phone) {
			max-width: 100%;
			padding: 4rem;
			margin-top: 4rem;
		}
	}
	.sticker {
		&--circle {
			top: -4%;
			left: unset;
			right: 30%;
		}

		&--triangle {
			top: unset;
			bottom: 5%;
			right: -5%;
			left: unset;
		}

		&--rectangle {
			bottom: 30%;
			left: 40%;
		}

		@include respond(phone) {
			z-index: 9999;

			&--rectangle {
				bottom: 40%;
				left: 10%;
			}

			&--triangle {
				right: 5%;
			}
		}
	}
}

.api.reverse {
	position: relative;
	flex-direction: row-reverse;

	@include respond(phone) {
		flex-direction: column-reverse;
	}

	.sticker {
		// z-index: 9999;
		&--circle {
			top: -4%;
			left: 10%;
		}

		&--triangle {
			top: unset;
			bottom: 5%;
			left: -5%;
		}

		&--rectangle {
			bottom: 30%;
			left: 50%;
		}

		@include respond(phone) {
			z-index: 9999;

			&--rectangle {
				bottom: 40%;
				left: 80%;
			}

			&--triangle {
				right: unset;
				left: 70%;
			}
		}
	}
}

.api.reverse .api__image {
	justify-content: flex-start;
}

.api.reverse .api__content {
	// justify-content: start;
	// background-color: red;
	min-width: 45%;
	// background-color: red;
}
