.intro {
	padding-top: 7.8rem;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	gap: 4.2rem;
	height: 85vh;
	position: relative;

	&__content {
		// margin-top: -4rem;
		position: relative;
		max-width: 50%;
	}
}

.sticker {
	position: absolute;

	// opacity: 0.4;

	svg {
		circle,
		rect,
		path {
			stroke: var(--accent);
			stroke-width: 1.4;
		}
	}

	&--circle {
		top: 20%;
		right: 10%;
		-webkit-animation: mover 1.8s infinite alternate;
		animation: mover 1.8s infinite alternate;
	}

	&--triangle {
		top: 35%;
		left: 6%;
		-webkit-animation: mover 2.2s infinite alternate;
		animation: mover 2.2s infinite alternate;
	}

	&--rectangle {
		bottom: 10%;
		right: 20%;
		-webkit-animation: mover 2.6s infinite alternate;
		animation: mover 2.6s infinite alternate;
	}
}
