$max-width: 1242px;
$text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
$dark-accent: hsl(0, 95%, 57%);

:root {
	--bg-color: hsl(0, 0%, 7%);
	// --bg-color: hsl(229, 15%, 14%);
	--text-color: hsl(0, 0%, 97%);
	--accent: #f9322c;

	--rgb-bg-color: 18, 18, 18;
	--rgb-accent: 250, 41, 41;
}
